= render :partial => '/widgets/refuge'
= render :partial => '/widgets/occupation'
= render :partial => '/widgets/last_updated_users', :locals => {:users => User.new_comers, :direction => :users_incoming}
= render :partial => '/widgets/surveys'
