#occupation
  #top
    = t('actual_occupation_of_location')
    %select#locations_select
      - Location.all.each do |location|
        %option{:value => location.id, :selected=>location.id == current_member.location_id}= location.name

  #gauge
    #rate{:class=>('draggable' if is_admin)}

  - Location.occupation_rates.each do |location|
    %a{:href => '#', :class => "occupation hide", :id => "location_id_#{location[:id]}", :data => {'occupation' => location[:occupation]}}