#occupation
  #top
    = t('actual_occupation_of_location')
    %select#locations_select
      - Location.occupation_rates.each do |location|
        %option{:value => location[:id], :selected => location[:id].to_i == current_member.location_id}= location[:name]

  #gauge
    #rate{:class=>('draggable' if is_admin)}

  - Location.occupation_rates.each do |location|
    %a{:href => '#', :class => "occupation hide", :id => "location_id_#{location[:id]}", :data => {'occupation' => location[:occupation]}}